@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,700;1,600&display=swap');

.body {
    background-color: white;
    position: relative;
}

.title {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.navbar {
    background-color: black;
    height: 80px;
}

#dropdown-menu {
    background-color: black;
}

#text-dropdown {
    color: white;
    font-size: 15px;
}

.header-site {
    height: 90vh;
    background-image: url(../../public/foto-testata.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    .header-site {
        height: 90vh;
        background-image: url(../../public/foto-header.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.shine {
    height: 20px;
    width: 60%;
    background-image: radial-gradient(farthest-side at 50% -50%,
            hsla(0, 0%, 0%, 0.5),
            hsla(0, 0%, 0%, 0));
    position: relative;
}

.shine::before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg,
            hsla(0, 0%, 0%, 0),
            hsla(0, 0%, 0%, 0.75) 50%,
            hsla(0, 0%, 0%, 0));
}



.titolo-paragrafo {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}

.testo-paragrafo {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: black;
    color: whitesmoke;
}

.title-footer {
    font-family: 'Crimson Text', serif;
    color: white;
    font-weight: 700;
    font-size: 18px;
}