@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Josefin+Sans&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

.body {
    background-color: white;
    position: relative;
}

.title {
    font-family: 'Crimson Text', serif;
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.navbar {
    background-color: black;
    height: 80px;
}

#dropdown-menu {
    background-color: black;
}

#text-dropdown {
    color: white;
    font-size: 15px;
}

.header-site {
    height: 90vh;
    background-image: url(../../public/foto-testata.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    .header-site {
        height: 90vh;
        background-image: url(../../public/foto-header.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.chi-siamo-container {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    position: relative;
    background-color: white;
}

.titolo-chi-siamo {
    font-weight: 700;
    font-size: 18px;
}

.paragrafo-chi-siamo {
    margin-top: 20px;
    font-size: 18px;
}

.img-chi-siamo {
    border-radius: 20px;
}

.footer {
    background-color: black;
    color: whitesmoke;
}

.title-footer {
    font-family: 'Crimson Text', serif;
    color: white;
    font-weight: 700;
    font-size: 18px;
}